# Introduction to variables

In [ ]:
Variable-------->a=5

In [ ]:
**It is a memory location used to store values

Example--->x=9,mycollegename=gitam

In [ ]:
They are three rules for declaring variables

In [ ]:
1.No gaps or spaces in between variables                       ##shift+enter

In [23]:
Full name='lokesh yallamilli'          -------------------->##Invalid syntax or wrong way

SyntaxError: invalid syntax (<ipython-input-23-a2c255ce413f>, line 1)

In [25]:
Full_name='lokesh yallamilli'              ------------------------------------->valid syntax or correct way

In [ ]:
variablename=full_name,value=lokesh yallamalli

In [26]:
print(Full_name)

lokesh yallamilli

In [ ]:
2.Variable name should not start with numbers

In [4]:
3name='aasitha'           ##invalid syntax

SyntaxError: invalid syntax (<ipython-input-4-c43708b689ba>, line 1)

In [5]:
name3='aasitha'                    ##valid syntax

In [7]:
print(name3)

aasitha

In [ ]:
3.No special characters should be used in the beggining of the variable name except  underscore

In [ ]:
@#$_

In [10]:
$name='kirankumar'

SyntaxError: invalid syntax (<ipython-input-10-1cd28e09431f>, line 1)

In [ ]:
1.comments

a)single line comment------------->
b)multiline comment

In [ ]:
## introduction about variable

In [ ]:
## add two numbers
we want to two variables a,b
add a+b
store in c

In [ ]:
### variable

------------------------>

# Introduction about datatypes or data structures in python

In [ ]:
1.strings------------------------->str
2.list----------------------------->list
3.tuple----------------------------->tuple
4.dictionary------------------------->dict
5.set-------------------------------->set

In [ ]:
## Introduction about strings

In [ ]:
string------->A group of characters or a series of characters

In [ ]:
## We can declare our strings in 3 different way single quotes,double quotes,triple quotes------------->'',"",''''''

In [ ]:
1.'python'
2."python"
3.'''python'''

In [ ]:
properties of strings---->String is a immutable datatype

immutable---->we cant change once it is declared

In [19]:
name='radhika'

In [21]:
print(name)

radhika

In [22]:
type(name)

str

In [ ]:
## code enhancement or modification

In [14]:
name='harika'

In [15]:
print(name)

harika

In [ ]:
three methods

1.title()
2.upper()
3.lower()

In [16]:
print(name.title())

Harika

In [ ]:
##comletely caital letters

In [17]:
print(name.upper())

HARIKA

In [ ]:
###comletely small case

In [18]:
print(name.lower())

harika